@page "/carlist"
@inject HttpClient httpClient

<h3>Car List</h3>
<input @bind=BrandText placeholder="Brand..." />
<input @bind=ModelText placeholder="Model..." />
<input @bind=RegNumText placeholder="Registration Number..." />
<button class="btn btn-primary" @onclick="AddItem" >Add</button>

@if (isLoading)
{
    <p>Loading ...</p>
}else{
    

     <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Registration Number</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var car in carList)
                {
                    <tr>
                        <td><input value="@car.Brand" @onchange="(e)=> BrandChanged(e, car)" /></td>
                        <td><input value="@car.Model" @onchange="(e)=> ModelChanged(e, car)" /> </td>
                        <td><input value="@car.CarRegistrationNumber" @onchange="(e)=> RegNumChanged(e, car)" /> </td>
                        <td><button class="btn btn-danger" @onclick="() => DeleteItem(car)">Delete</button></td>
                    </tr>
                }
            </tbody>
     </table>
}