@page "/customerlist"
@inject HttpClient httpClient
@inject NavigationManager navigationManager

<h3>Customer List</h3>
<button class="btn btn-primary" @onclick="AddItem" >Add</button>

@if (isLoading)
{
    <p>Loading ...</p>
}else{
    
     <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Phone</th>
                    <th>TIN</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var customer in customerList)
                {
                    <tr>
                        <td>@customer.Name</td>
                        <td>@customer.Surname</td>
                        <td>@customer.Phone</td>
                        <td>@customer.TIN</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => EditItem(customer)">Edit</button>
                        <button class="btn btn-danger" @onclick="() => DeleteItem(customer)">Delete</button>
                    </td>
                    </tr>
                }
            </tbody>
     </table>
}