@page "/managerlist/edit/{Id:guid?}"
@using RedMotors.Blazor.Shared
@inject HttpClient httpClient
@inject NavigationManager navigationManager

<h3>Manager</h3>

@if (ManagerItem == null)
{
    <p>Loading ...</p>
}
else
{
    <div class="row">
        <div class="col-md-6">
            <label class="form-label">Name</label>
            <input class="form-control" @bind="@ManagerItem.Name" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Surname</label>
            <input class="form-control" @bind="@ManagerItem.Surname" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Salary Per Month</label>
            <input class="form-control" @bind="@ManagerItem.SalaryPerMonth" />
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <button class="btn btn-success" @onclick="OnSave">Save</button>
            <button class="btn btn-danger" @onclick="OnCancel">Cancel</button>
        </div>
    </div>
}

@code {
    [Parameter] public Guid? Id { get; set; }
    ManagerEditViewModel ManagerItem { get; set; } = new();



    protected override async Task OnInitializedAsync()
    {
        ManagerItem = await httpClient.GetFromJsonAsync<ManagerEditViewModel>($"manager/{(Id == null ? 0 : Id)}");
    }

    protected async Task OnSave()
    {
        HttpResponseMessage response;
        if (Id == null)
        {
            response = await httpClient.PostAsJsonAsync("manager", ManagerItem);
        }
        else
        {
            response = await httpClient.PutAsJsonAsync("manager", ManagerItem);
        }
        response.EnsureSuccessStatusCode();
        navigationManager.NavigateTo("managerlist");
    }

    protected void OnCancel()
    {
        navigationManager.NavigateTo("managerlist");
    }
}