@page "/ServiceTaskList" 
@inject HttpClient httpClient
@inject NavigationManager navigationManager
<h3>ServiceTaskList</h3>

@*<input @bind=NewCodeText  placeholder="New Task Code.." />
<input @bind=NewDescriptionText placeholder="New Task Description"/>
<input @bind=NewHoursInput placeholder=0 maxlength=2/>*@
<button class="btn btn-primary" @onclick="AddItemPage" >Add</button>

@if (isLoading)
{
    <p>Loading ...</p>
}
else{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Code</th>
                <th>Description</th>
                <th>Hours</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in serviceTaskList)
            {
                <tr>
                    <td><input  value="@item.Code" /></td>
                    <td><input  value="@item.Description"/></td>
                    <td><input  value="@item.Hours" max=8></td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => EditServiceTaskItem(item)">Edit</button>
                        <button class="btn btn-danger" @onclick="() => DeleteItem(item)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
