<select class="ms-2 form-select" aria-label="Default select example" value="@Value" @onchange="OnChange">
    @if (ShowPlaceholder)
    {
        <option value="-1">Select Customer</option>    
    }
    @foreach (var customer in Customers)
    {
        <option value="@customer.Id"> @customer.Name </option>
    }
</select>

@code{
    [Parameter] public List<CustomerEditListViewModel> Customers { get; set; }
    [Parameter] public bool ShowPlaceholder { get; set; }
    [Parameter] public Guid Value { get; set; }
    [Parameter] public EventCallback<Guid> ValueChanged { get; set; }

    private async Task OnChange(ChangeEventArgs e)
    {
        Value = Guid.Parse(e.Value.ToString());
        await ValueChanged.InvokeAsync(Value);
    }
}