<select class="ms-2 form-select" aria-label="Default select example" value="@Value" @onchange="OnChange">
    @if (ShowPlaceholder)
    {
        <option value="Guid.Empty">Select Service Task</option>    
    }
    @foreach (var serviceTask in ServiceTasks)
    {
        <option value="@serviceTask.Id"> @serviceTask.Description </option>
    }
</select>

@code{
    [Parameter] public List<ServiceTaskEditViewModel> ServiceTasks { get; set; }
    [Parameter] public bool ShowPlaceholder { get; set; }
    [Parameter] public Guid Value { get; set; }
    [Parameter] public EventCallback<Guid> ValueChanged { get; set; }

    private async Task OnChange(ChangeEventArgs e)
    {
        Value = Guid.Parse(e.Value.ToString());
        await ValueChanged.InvokeAsync(Value);
    }
}